<p>Hey, you can download the spreadsheet for this page by clicking the link below:</p>

<br />

<div id='example1'>
  Example 1
  <p>
    <%= link_to "HTML", report_example1_path("html") %>
    <%= link_to "XLS", report_example1_path("xls") %>
  </p>
<div>

<br />

<div id='example2'>
  Example 2
  <p>
    <%= link_to "HTML", report_example2_path("html") %>
    <%= link_to "XLS", report_example2_path("xls") %>
  </p>
<div>

