<%= stylesheet_link_tag 'reset', 'example1' %>

<table class='reports time_trackings', title='First Table'>

  <thead>
    <tr>
      <th class='date'>Date</th>
      <th class='project'>Project</th>
      <th class='status'>Status</th>
      <th class='description'>Descriptions</th>
      <th class='hours'>Hours</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td class='date'>01/01/10</td>
      <td class='project'>Aufderhar and Sons</td>
      <td class='user'>accusantium</td>
      <td class='description'>Aperiam inventore aut ullam quibusdam qui harum animi exp...</td>
      <td class='hours'>03:28</td>
    </tr>
    <tr>
      <td class='date'>01/02/10</td>
      <td class='project'>Gaylord, Kemmer and Gutkowski</td>
      <td class='user'>voluptas</td>
      <td class='description'>Itaque esse laboriosam eum totam. Tenetur sed corrupti un...</td>
      <td class='hours'>01:46</td>
    </tr>
    <tr>
      <td class='date'>01/03/10</td>
      <td class='project'>Kunze Inc</td>
      <td class='user'>omnis</td>
      <td class='description'>Cumque ab eos eligendi ex a saepe facere culpa. Magni mol...</td>
      <td class='hours'>05:26</td>
    </tr>
    <tr>
      <td class='date'>01/04/10</td>
      <td class='project'>Kunze Inc</td>
      <td class='user'>officia</td>
      <td class='description'>Et natus hic laborum vel nisi quod. Est veniam ut occaeca...</td>
      <td class='hours'>04:36</td>
    </tr>
    <tr class='total'>
      <td colspan='2'>Total:</td>
      <td colspan='3'>340 hours and 22 minutes</td>
    </tr>
  </tbody>
  
</table>
